NODE_ENV=development
PORT=5000

DATABASE_URL=
DB_POOL_MIN=2
DB_POOL_MAX=10

# JWT configuration
JWT_SECRET_KEY=your-private-JWT-secret-key
JWT_EXPIRATION_TIME=1d

REFRESH_JWT_SECRET_KEY=your-private-refresh-JWT-secret-key
REFRESH_JWT_EXPIRATION_TIME=7d

# Origins
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:3001

# Swagger configuration
APP_NAME=Demo Credit API
APP_DESCRIPTION=Demo Credit is a mobile lending app that allows users to borrow money easily and quickly.
APP_VERSION=1.0.0
CUSTOM_SITE_TITLE=Demo Credit • Mobile Lending MVP App

# Lendsqr configuration
ADJUTOR_API_KEY=sk_live_your-lendsqr-api-key
ADJUTOR_BASE_URL=https://adjutor.lendsqr.com/v2

